<header class="dashboard-header" [class.expanded]="expanded()">
  <button
    class="toggle-btn"
    (click)="toggleSidebar($event)"
    [style.left.px]="expanded() ? environment.sidebarExpandedWidth : environment.sidebarCollapsedWidth"
    [attr.aria-expanded]="expanded()"
    type="button">
    <mat-icon [class.rotated]="expanded()">chevron_right</mat-icon>
  </button>

  <div class="logo-container" (click)="goToDashboard()">
    <img
      ngSrc="assets/images/logo/post_logo.svg"
      alt="Post Logo"
      class="post-logo"
      width="100"
      height="100"
    />
    <span class="logo-text">ICT Dashboard</span>
  </div>

  <div class="profile-container" (click)="goToProfile()">
    <img [ngSrc]="profileImage" alt="{{user()?.firstName}} {{user()?.lastName}}" class="profile-pic" width="100"
         height="100"/>
    <span class="profile-name">{{ user()?.username }}</span>
  </div>
</header>
